@import "tailwindcss";


:root {
  --background: #f5f5f4;
  --foreground: #1c1917;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.board-canvas {
  background-image: radial-gradient(circle, #d6d3d1 1px, transparent 1px);
  background-size: 24px 24px;
}